Package: libpaf-dsc0
Source: paflib
Version: 0.2.0-1.1
Architecture: ppc64el
Maintainer: Carlos Eduardo Seo (ceseo) <contact@carlosseo.com>
Installed-Size: 89
Depends: libc6 (>= 2.17)
Section: libs
Priority: extra
Homepage: https://github.com/paflib/paflib
Description: library which exposes DSC Power Facilities to userspace via an API
 PAFLib is a IBM written library which exposes Power Architecture Facilities to
 userspace via an API. This includes the Data Stream Control Register Facility
 (DSCR) and the Event-Based Branching facility (EBB). Linux kernel 3.9 has
 exposed problem-state DSCR usage for ISA 2.06 (POWER7 – emulated) and ISA 2.07
 (POWER8 – in hardware). Linux 3.10 has exposed the EBB facility.
 .
 The Data Stream Control Register (DSCR for short) of POWER processors is used
 to control the degree of aggressiveness of memory prefetching for load and
 store.
